<template>
  <div class="container">
    <h1>Create new question</h1>
    <div class="col-12 section">
      <h5>Add your question here:</h5>
      <input v-model="question" placeholder="question">
    </div>
    <div class="col-12 section">
      <h5>Add choices:</h5>
      <input v-model="choice" placeholder="Probably">
      <button @click="addChoice()">Add</button>
    </div>

    <div v-if="atLeastOneChoice" class="col-12">
      Current choices:
      <div class="choices" v-for="choice in choices">
      * {{ choice }}
      </div>
    </div>

    <div class="section">
      <button @click="createQuestion()">Create</button>
    </div>

    <span class="error" v-if="notEnoughChoicesError"> Please add at least two choices </span>
    <span class="error" v-if="duplicateChoiceError"> Please add unique choices </span>
    <span class="error" v-if="error"> There was a problem saving the question </span>
    <span class="success" v-if="success"> You have successfully created new question! 🎁
      Click <router-link :to="{ path: createdQuestionUrl }">here</router-link> to view it.</span>
  </div>
</template>

<script>
  export default {
    name: 'QuestionCreate',
    data() {
      return {
        success: false,
        question: null,
        duplicateChoiceError: false,
        notEnoughChoicesError: false,
        choice: null,
        choices: [],
        error: false,
      }
    },
    computed: {
      atLeastOneChoice() {
        return this.choices.length > 0;
      }
    },
    methods: {
      addChoice() {
        this.duplicateChoiceError = false;

        if (!this.choice) {
          return;
        }

        if (this.choices.includes(this.choice)) {
          this.duplicateChoiceError = true;
          return;
        }

        this.choices.push(this.choice)
      },
      createQuestion() {
        this.notEnoughChoicesError = false;

        if (this.choices.length < 2) {
          this.notEnoughChoicesError = true;
          return false;
        }

        this.$dependencies.axios
          .post(`${this.$dependencies.basePollApiUrl}/questions`, {
            question: this.question,
            choices: this.choices,
          })
          .then(response => {
            this.createdQuestionUrl = response.data.url;
            this.success = true;
          })
          .catch(error => {
            console.error(error);
            this.error = true;
          });
      }
    },
  }
</script>

<style>
  .section {
    padding: 20px 0;
  }
</style>
