<template>
  <div class="container">
    <h1>Questions Detail</h1>
    <div v-if="loading">
      <img
        src="../assets/loading-spinner.svg"
        title="loading spinner"
        alt="loading"
      />
    </div>
    <div v-else>
      <div>
        <h3> {{ question.question }} </h3>
        <div class="row choice-headers">
          <div class="col-xs-12 col-md-7"> {{ answerText }}</div>
          <div class="col-xs-12 col-md-2"> {{ votesText }} </div>
          <div class="col-xs-12 col-md-3"> {{ percentageText }}</div>
        </div>
        <div
          class="row choice"
          :class="{ selected: choice.url === votingPath}"
          v-for="choice in question.choices"
          @click="addSelection(choice.url)"
        >
          <div class="col-xs-12 col-md-7">
            <span class="mobileHeaders"> {{ answerText }}: </span>
            {{ choice.choice }}
          </div>
          <div class="col-xs-12 col-md-2">
            <span class="mobileHeaders"> {{ votesText }}: </span>
            {{ choice.votes }}
          </div>

          <div class="col-xs-12 col-md-3">
            <span class="mobileHeaders"> {{ percentageText }}: </span>
            {{ calculatePercentage(choice.votes) }}%</div>
        </div>
        </div>
      </div>
      <div class="save-vote-wrapper">
        <button @click="vote()">Save vote</button>
      </div>
      <span class="error" v-if="error"> There was a problem getting the question </span>
      <span class="error" v-if="noSelectionError"> Please select an answer before voting </span>
      <span class="success" v-if="success"> You have successfully voted! Thank you 🚀 </span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'QuestionDetail',
    data() {
      return {
        success: false,
        question: null,
        error: false,
        noSelectionError: false,
        loading: true,
        votingPath: null,
        answerText: 'Answer',
        votesText: 'Votes',
        percentageText: 'Percentage',
      }
    },
    methods: {
      calculatePercentage(votes) {
        if (this.totalVotes === 0) {
          return 0;
        }

        // this should be properly implemented with rounding, but still getting 100% in total
        return (votes / (this.totalVotes / 100)).toFixed(2);
      },
      addSelection(votingPath) {
        this.noSelectionError = null;

        if (votingPath === this.votingPath) {
          this.votingPath = null;
          return;
        }

        this.votingPath = votingPath;
      },
      fetchAnswers() {
        this.$dependencies.axios
          .get(`${this.$dependencies.basePollApiUrl}${this.$route.path}`)
          .then(response => {
            this.question = response.data;
          })
          .catch(error => {
            console.error(error);
            this.error = 'There was a problem loading questions';
          }).finally(() => {
          this.loading = false;
        })
      },
      vote() {
        if(!this.votingPath) {
          this.noSelectionError = 'Please select the answer first';
          return;
        }

        this.$dependencies.axios
          .post(`${this.$dependencies.basePollApiUrl}${this.votingPath}`)
          .then(() => {
            this.votingPath = null;
            this.fetchAnswers();
            this.success = true;
          })
          .catch(error => {
            console.error(error);
            this.error = true;
          });
      }
    },
    computed: {
      totalVotes() {
        return this.question.choices.reduce((acc, choice) => {
          return acc + choice.votes;
        }, 0)
      }
    },
    mounted() {
      this.fetchAnswers()
    }
  }
</script>

<style>
  .choice-headers {
    font-weight: bold;
    margin-bottom: 15px;
    display: none;
  }

  .mobileHeaders {
    font-weight: bold;
  }
  .choice-headers,
  .choice {
    min-height: 30px;
    width: 100%;
    padding: 4px 0;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
  }
  .choice:nth-child(odd) {
    background-color: lightgray;
  }

  .selected {
    background-color: lightgreen !important;
  }

  @media only screen and (min-width: 767px) {
    .mobileHeaders {
      display: none;
    }

    .choice-headers {
      display: flex;
    }
  }
</style>
