<template>
  <div class="container">
    <h1>Questions</h1>
    <div v-if="loading">
      <img
        src="../assets/loading-spinner.svg"
        title="loading spinner"
        alt="loading"
      />
    </div>
    <div v-else>
      <div class="row">
        <div class="col-xs-6 col-md-3 question-wrapper" v-for="{question, published_at, choices, url} in questions">
          <router-link :to="{ path: url }" class="item">
            <div class="question">
              <h4>{{ question }}</h4>
              <span><strong>Published at:</strong> {{ formatDate(published_at) }}</span>
              <span><strong>Number of choices: </strong>{{ choices.length }}</span>
            </div>
          </router-link>
        </div>
      </div>

      <span class="error" v-if="error"> There was a problem getting the questions </span>

      <router-link :to="{ name: 'question-create' }" class="item">
        <button class="create-new">
          Create new question
        </button>
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'QuestionCreate',
    data() {
      return {
        questions: null,
        error: false,
        loading: true,
      }
    },
    methods: {
      formatDate(isoDate) {
        return new Date(isoDate).toLocaleDateString("en-US", {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        })
      },
    },
    mounted() {
      this.$dependencies.axios
        .get(`${this.$dependencies.basePollApiUrl}/questions`)
        .then(response => {
          this.questions = response.data;
        })
        .catch(error => {
          console.error(error);
          this.error = true;
        }).finally(() => {
          this.loading = false;
      })
    }
  }
</script>

<style>
  .question-wrapper {
    padding: 5px;
    display: flex;
  }

  .question-wrapper a {
    display: block !important;
    text-decoration: none !important;
    text-transform: none !important;
    color: #2c3e50 !important;
    width: 100%;
  }

  .question {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid gray;
    border-radius: 3px;
    align-content: center;
  }

  .question:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
  .question span {
    font-size: 12px;
  }

  .create-new {
    width: 250px;
    height: 60px;
    background-color: lightgreen;
    text-align: center;
  }
</style>
